Package: bashdb
Version: 0.1-1
Architecture: all
Maintainer: Golozubov <golozubovms@unknown>
Installed-Size: 10
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: Test task for KB-1
