Source: bashdb
Section: unknown
Priority: optional
Maintainer: Golozubov Mikhail <golozubovms@rubezh.ru>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/bashdb
#Vcs-Git: https://salsa.debian.org/debian/bashdb.git

Package: bashdb
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
